html,
body {
  margin: 0;
  height: 100%;
}
@font-face {
  font-family: "Basement";
  src: url(../images/BasementGrotesque-Black_v1.202.otf);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin-top: -5vh;
}

body {
  background-color: #0c092c;
  /* background-image: linear-gradient(var(--dBlue), var(--darkBlue)); */
  font-family: "basement";
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  --darkBlue: #000d18;
  --pink: #f280cf;
  --purple: #8e60ac;
  --green: #20ab44;
  --dBlue: #051337;
  --grey: #171d29;
  --blue: #6688cc;
  --lightBlue: #3794ff;
  --background: #3c375d;
}
.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid var(--pink);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}
nav {
  font-size: 2vw;
}

.navbar {
  background-color: transparent !important;
  border-radius: 10px;
}

.navbar-nav .nav-item .nav-link {
  padding: 12px 24px;
  font-size: 2vh;
  color: #ffffff;
  margin: 1vh 0.5vw;
  z-index: 1;
  border-radius: 13px;
  background: #3c375d;
  box-shadow: 5px 5px 14px #090c10, -5px -5px 14px #252e42;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--pink);
  transform: translateY(-2px);
  box-shadow: 8px 8px 20px #090c10, -8px -8px 20px #252e42;
}


.submit {
  background-color: var(--background);
  width: 50%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.442);
  box-shadow: 0px 0px 22px -6px rgba(102,136,204,1);
}
.bar{
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: var(--grey);
  display: flex;
  align-items: start;
}
.tinyButtons{
  margin-left: 0.5vw;
}
#red,#yellow,#green{
  height: 1.5vh;
  border-radius: 50%;
  margin: 0.8vh 0.15vw;
  z-index: 1;
}


#title {
  margin-top: 3vh;
  font-size: 8vh;
  max-height: 6vh;
}
form {
  font-size: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 8vw;
  padding-bottom: 5vh;
}
input {
  width: 20vw;
  height: 5vh;
  text-align: center;
  font-size: 3vh;
  color: var(--lightBlue);
}
select {
  -webkit-appearance: menulist-button;
  color: var(--lightBlue);
  font-size: 3vh;
}

#movieTitle {
  width: 30rem;
}
#submit {
  margin-top: 2rem;
  color: black;
}
#submit:hover {
  color: var(--pink);
}
.random {
  font-size: 3.5rem;
}
.movies {
  /* display:block; */
  display: none;
}
.card {
  width: 25vw;
  height: auto;
  margin: 1vh 1vw;
  border-radius: 64px;
  color: white;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.442);
  background: #3c375d;
  box-shadow: 0px 0px 22px -6px rgba(102, 136, 204, 1);
}
img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 20px !important;
  padding-top: 1vh;
  margin: 0 auto;
}
h5 {
  font-size: 2.5rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  font-size: 1.6rem;
}

/* page transition */
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: #000d18;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}
@keyframes fade-out {
from { opacity: 1 }
  to { opacity: 0 }
}


#fader.fade-out {
opacity: 0;
animation-name: fade-out;
}