body {
  background-color: black;
  color: white;
  text-align: center;
}

.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid dodgerblue;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

main {
  border: 2px red solid;

}
.movies{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    border: 2px white solid;
    margin: 2vh 0vw;
}
