html,
body {
  margin: 0;
  height: 100%;
}
@font-face {
  font-family: "Basement";
  src: url(../images/BasementGrotesque-Black_v1.202.otf);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4vw; 
    margin-top: -5vh;
  }

body {
  background-color: #051236;
  background-image: linear-gradient(var(--dBlue), var(--darkBlue));
  font-family: "basement";
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  --darkBlue: #000d18;
  --pink: #f280cf;
  --purple: #8e60ac;
  --green: #20ab44;
  --dBlue: #051337;
  --grey: #171d29;
  --blue: #6688cc;
  --lightBlue: #3794ff;
}
.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid var(--pink);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}
nav {
  font-size: 2vw;
}

.navbar {
  background-color: transparent !important;
  border-radius: 10px;
}

.navbar-nav .nav-item .nav-link {
  background-color: #171d29;
  padding: 12px 24px;
  font-size: 2vh;
  color: #ffffff ;
  margin: 1vh 0.5vw;
  z-index: 1;
  border-radius: 13px;
  background: #171d29;
  box-shadow: 5px 5px 14px #090c10, -5px -5px 14px #252e42;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--pink);
  transform: translateY(-2px);
  box-shadow: 8px 8px 20px #090c10, -8px -8px 20px #252e42;
}