html,
body {
  margin: 0;
  height: 100%;
}
@font-face {
  font-family: "Basement";
  src: url(../images/BasementGrotesque-Black_v1.202.otf);
}


body {
  background-color: #051236;
  background-image: linear-gradient(var(--dBlue), var(--darkBlue));
  font-family: "basement";
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  --darkBlue: #000d18;
  --pink: #f280cf;
  --purple: #8e60ac;
  --green: #20ab44;
  --dBlue: #051337;
  --grey: #171d29;
  --blue: #6688cc;
  --lightBlue: #3794ff;
}
.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid var(--pink);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}
nav {
  font-size: 2vw;
}

.navbar {
  background-color: transparent !important;
  border-radius: 10px;
}

.navbar-nav .nav-item .nav-link {
  background-color: #171d29;
  padding: 12px 24px;
  font-size: 2vh;
  color: #ffffff ;
  margin: 1vh 0.5vw;
  z-index: 1;
  border-radius: 13px;
  background: #171d29;
  box-shadow: 5px 5px 14px #090c10, -5px -5px 14px #252e42;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--pink);
  transform: translateY(-2px);
  box-shadow: 8px 8px 20px #090c10, -8px -8px 20px #252e42;
}
main {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  margin-top: -5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  width: 50%;
  height: 100%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right {
  width: 50%;
  height: 100%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.tab{
  background-color: var(--background);
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.442);
  background: #3c375d;
  box-shadow: 0px 0px 22px -6px rgba(102, 136, 204, 1);
}


.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 0;
}
.bar {
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: var(--grey);
  display: flex;
  align-items: start;
}
.tinyButtons {
  margin-left: 0.5vw;
}
#red,
#yellow,
#green {
  height: 1.5vh;
  border-radius: 50%;
  margin: 0.8vh 0.15vw;
}

.card {
  max-width: 40%;
  max-height: 80%;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.card img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 40px !important;
  padding-top: 1vh
}

h5 {
  font-size: 1.5rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  font-size: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3vh;
  gap: 1vh;
  margin: 2vh 0vw;
}

#submit {
  width: max-content;
}

#movieYear{
  max-width: 30%;
}
#movieTitle{
  max-width: 75%;
}

.selection{
  margin: 2.5vh 1.5vw;

}
#movie{
  width: 9vw;
}